@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'west-avenue';
  src: url('./assets/West\ Avenue.otf') format('opentype');
}

@font-face {
  font-family: 'radio-grotesk';
  src: url('./assets/RadioGrotesk-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'radio-grotesk';
  src: url('./assets/RadioGrotesk-Bold.otf') format('opentype');
  font-weight: bold;
}

:root {
  --yellow: #ffff33;
  --blue: #079BF5;
  --blue-bg:#079BF5;
  --pink: #FB48C4;
  --pink-bg: #FB48C4;
  
}

.page-header {
  @apply text-2xl font-bold
}


body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100vh;
  width: 100vw;
}

::target-text, div {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blue-bg {
  background-color: var(--blue-bg);
}

.yellow {
  background-color: var(--yellow);
}

.blue {
  color: var(--blue);
}

.pink {
  color: var(--pink);
}

.pink-bg {
  background-color: var(--pink-bg);
}

svg {
  fill: white;
}

select.blue, select.blue:focus, select.blue:active, select.blue:focus-visible {
  border: 1px solid var(--blue);
  padding: 0 1rem;
}

/* SWAL button */
.swal2-modal {
  @apply font-radio-grotesk text-black;
  border-radius: 0;
  background-color: #F4B74A;
}

.swal2-confirm,
.swal2-confirm:focus,
.swal2-confirm:active,
.swal2-confirm:hover {
  @apply font-radio-grotesk border-2 border-black px-2 bg-transparent opacity-100 font-bold text-black !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: none !important;
}

.swal2-styled,
.swal2-styled:focus,
.swal2-styled:active,
.swal2-styled:hover {
  @apply font-radio-grotesk border-2 border-black px-2 bg-transparent opacity-100 font-bold text-black !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: none !important;
}

.swal2-actions,
.swal2-actions:focus,
.swal2-actions:active,
.swal2-actions:hover {
  @apply font-radio-grotesk border-2 border-black px-2 bg-transparent opacity-100 font-bold text-black !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: none !important;
}


.swal2-title {
  @apply font-bold
}

.swal2-error .swal2-x-mark-line-left, .swal2-error .swal2-x-mark-line-right {
  background-color: black !important;
}

.swal2-icon {
  border-color: black !important;
}

body {
  @apply font-radio-grotesk
}